#opcoes{
    background-color: purple;
    height: 60px;
}

html, body {
    font-family: 'Press Start 2P';
}

body {
    background-color: #111a29;
    color: #b7b7af;
    height: 1%;
}

#signLogButtons{
    text-align: center;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.modalTitle{
    position: relative;
    top: -2rem;
    color: #111a29;
}

#modal1, #modal2, #modal3, #modal4 {
    padding: 50px 75px 25px;
    transform: scaleX(1.6) !important;
    transform: scaleY(1.8) !important;
}

.char-btn {
    display: flex;
    position: relative;
    height: auto;
    top: -1rem;
    justify-content: space-between;
    flex-direction: column;
}

.nes-btn, .nes-btn::after {
    border-radius: 10px;
    padding: 25px;
    font-size: 2rem;
    box-shadow: 4px 4px 4px 4px #b7b7af;
    border-image-repeat: unset;
    border: none;
}

.title {
    font-size: 10rem;
    position: absolute;
    top: 2.5rem;
    width: 100%;
    text-align: center;
}

.subtitle {
    position: absolute;
    text-align: center;
    top: 14rem;
    width: 100%;
    font-size: 1.3rem;
}
.subtitle p:not(:last-child) {
    text-decoration-line: line-through;
}

.subtitle p:last-of-type {
    text-decoration-line: none;
}

#gameWindowLeft, #gameWindowRight{
    text-align: center;
}

.game-window {
    width: 100%;
}

#gameWindowRight {
    bottom: 0;
    height: 427px;
}

#gameWindowLeft {
    top: 64px;
    height: 427px;
}

@keyframes flash {
    0% {z-index: 1000;}
    50% {background-color: #ffffff;}
    99% {z-index: 1000;}
}

.flash {
    animation: flash .08s linear;
}

.attack {
    font-size: 1rem;
    width: 250px;
}

nav {
    background-color: #0D584E !important;
    overflow: hidden;
    white-space: nowrap;
}

#battle-scene {
    background-color: #29111E;
}

.game-title {
    height: 64px;
    margin: 0;
    text-align: center;
    line-height: 64px;
}

.hp-bar {
    height: 3vh;
    width: 600px;
    border-radius: 10px;
}

.user-hp-bar {
    position: absolute;
    left: 5.25rem;
}

.comp-hp-row {
    position: relative;
    top: 5rem;
}

.comp-hp-bar {
    position: absolute;
    right: 5.25rem;
}

.comp-hp-stats {
    position: relative;
}

.atk-row {
    position: relative;
    top: 8.5rem;
}

#attackOne {
    position: absolute;
    left: 2.5rem;
    top: 1.7rem;
}

#attackTwo {
    position: absolute;
    left: 2.5rem;
    bottom: 1.7rem;
}

#attackThree {
    position: absolute;
    top: 1.7rem;
    right: 2.5rem;
}

#attackFour {
    position: absolute;
    bottom: 1.7rem;
    right: 2.5rem;
}

.atk-btn {
    left: 3rem;
    width: 673px;
    height: 255px;
    border-radius: 5px;
    position: relative;
    background-color: #dfdfdf;
}

.user-hp-text {
    position: absolute;
    left: 22rem;
    top: .45rem;
    z-index: 1000;
    color: black;
}

.comp-hp-text {
    position: absolute;
    right: 22rem;
    top: .45rem;
    z-index: 1000;
    color: #000000;
}

.user-hp-stats {
    position: relative;
}

.user-hp-row {
    position: relative;
    top: 7rem;
}

.hide {
    display: none;
}

::placeholder {
    font-size: .8rem;
}

.modal-title {
    font-size: 2.21rem;
}

@keyframes top-smash {
    0% {top: -120px}
    20% {top: -80px}
    40% {top: -100px}
    70% {top: -50px}
    80% {top: -85px}
    90% {top: -69px}
}

@keyframes smashed {
    20% {top: 17px}
    40% {top: 17px}
    60% {top: 45px}
    80% {top: 45px}
    85% {top: 51px}
    100% {top: 70px; display: none}
}

@keyframes defeat {
    100% {opacity: 0; display: none}
}

.defeat {
    animation: defeat 2s linear;
}

.smash {
    position: relative;
    animation: top-smash 1.35s linear;
}

.smashed {
    position: relative;
    animation: smashed 1.35s linear;
}